.button {
	display: flex;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	padding: 12px 18px;
	text-align: center;
	position: relative;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	background-color: $primary;
	transition: all 0.2s linear;

	&:hover {
		color: #fff;
		background-color: $secondary;
	}
}
